{% extends 'base.twig' %}

{% block header %}
{% include 'header-nav.twig' %}
{% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="single" id="titlebar">
    <div class="container">

        <div class="sixteen columns">
            <h1>{{ title }}</h1>
            <nav id="breadcrumbs">
                <ul>
                    <!-- Breadcrumb NavXT 6.0.4 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a class="home"
                                                                                           href="/"
                                                                                           property="item"
                                                                                           title="Go to Crux."
                                                                                           typeof="WebPage"><span
                            property="name">Crux</span></a><meta content="1" property="position"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                            property="name">{{ title }}</span><meta content="2" property="position"></span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container full-width">
    <article class="sixteen columns woocommerce-account post-2870 page type-page status-publish hentry" id="post-2870">
        <ul class="tabs-nav">
            <li><a href="#details">Details</a></li>
            <li><a href="#options">Options</a></li>
        </ul>
        <div class="tabs-container">
            <div class="tab-content" id="details">
                <div class="details-headline">
                    <h2>{{ question.title }}</h2>
                </div>
                <div class="details-wrapper">
                    <form action="/tests/{{ testId }}/questions/mcq/{{ question.id }}" class="workscout_form" id="update-mcq-form" method="PATCH">
                        <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                        <p class="form-row form-row-wide">
                            <label for="mcqName">Title <span class="required">*</span>
                                <i class="ln ln-icon-File-HorizontalText"></i>
                                <input class="input-text" id="mcqName" name="title" type="text" value="{{ question.title }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="mcqDescription">Description
                                <i class="ln ln-icon-File-HorizontalText"></i>
                                <input class="input-text" id="mcqDescription" name="description" type="text" value="{{ question.description }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="mcqMarks">Marks
                                <i class="ln ln-icon-Numbering-List"></i>
                                <input class="input-text" id="mcqMarks" name="marks" type="number" value="{{ question.marks }}" />
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row">
                            <input class="button" name="add" type="submit" value="Update"/>
                        </p>
                    </form>
                </div>
            </div>
            <div class="tab-content" id="options">
                <div class="details-headline">
                    <h2>MCQ Options - {{ length(options) }}</h2>
                </div>
                <div class="details-wrapper">
                    <ul class="job_listings job-list full  new-layout hide-desc">
                        {% for option in options %}
                        <li data-color="#e12335">
                            <a class="left job_listing test-link">
                                <div class="listing-logo">
                                </div>
                                <div class="listing-title">
                                    <h4>{{ option.statement }}
                                        {% if option.isCorrect %}
                                        <span class="job-type freelance pointer" style="margin-right: 15px;">
                                            Correct
                                        </span>
                                        {% else %}
                                        <span class="job-type temporary pointer" style="margin-right: 15px;">
                                            Incorrect
                                        </span>
                                        {% endif %}
                                        <i class="fa fa-times-circle fa-lg pointer remove-option list-right-end" style="color: red" data-href="/tests/{{ testId }}/questions/mcq/{{ question.id }}/options/{{ option.id }}"></i>
                                    </h4>
                                    <ul class="listing-icons">
                                    </ul>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <a class="small-dialog popup-with-zoom-anim button centered" href="#new-option-dialog"><i
                            aria-hidden="true" class="fa fa-plus-circle"></i>New Option</a>
                    <div class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-add-popup" id="new-option-dialog">
                        <div class="small-dialog-headline">
                            <h2>Create MCQ Option</h2>
                        </div>
                        <div class="small-dialog-content woo-reg-box">
                            <form action="/tests/{{ testId }}/questions/mcq/{{ question.id }}/options" class="workscout_form" id="new-option-form"
                                  method="POST">
                                <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                                <p class="form-row form-row-wide">
                                    <label for="optionStatement">Statement <span class="required">*</span>
                                        <i class="ln ln-icon-File-HorizontalText"></i>
                                        <input class="input-text" id="optionStatement" name="statement" type="text" value=""/>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="optionIsCorrect">Is Correct? <span class="required">*</span>
                                        <input id="optionIsCorrect" name="isCorrect" type="checkbox" value="true"/>
                                    </label>
                                </p>
                                <p class="form-row">
                                    <input class="button" name="add" type="submit" value="Create"/>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    options = {
        success: function (data) {
            window.location.reload();
        }
    };
    ajaxSubmitForm('#update-mcq-form', options);
    ajaxSubmitForm('#new-option-form', options);
    $(".remove-option").on('click', function (e) {
        var url = $(e.target).attr('data-href');
        $.ajax(url, {
            async: true,
            dataType: 'json',
            data: {
                "{{ _csrf.parameterName }}": "{{ _csrf.token }}"
            },
            method: 'DELETE',
            success: function (data) {
                window.location.reload();
            },
            error: function (resp) {
                if (resp.status === 200) window.location.reload();
                else alert("Cannot delete given member")
            }
        });
    });
</script>
{% endblock %}