{% extends 'base.twig' %}

{% block header %}
{% include 'header-nav.twig' %}
{% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="single" id="titlebar">
    <div class="container">

        <div class="sixteen columns">
            <h1>Business Dashboard</h1>
            <nav id="breadcrumbs">
                <ul>
                    <!-- Breadcrumb NavXT 6.0.4 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a class="home"
                                                                                           href="/"
                                                                                           property="item"
                                                                                           title="Go to Crux."
                                                                                           typeof="WebPage"><span
                            property="name">Crux</span></a><meta content="1" property="position"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                            property="name">Dashboard</span><meta content="2" property="position"></span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container full-width">
    <article class="sixteen columns woocommerce-account post-2870 page type-page status-publish hentry" id="post-2870">

        <nav class="woocommerce-MyAccount-navigation">
            <ul>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                    <a href="/business/admin/dashboard">Business Details</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                    <a href="/business/admin/members">Members</a>
                </li>
            </ul>
        </nav>

        <div class="woocommerce-MyAccount-content">
            <div id="job-manager-job-dashboard">
                <div class="details-headline">
                    <h2>{{ business.name }}</h2>
                </div>
                <div class="details-wrapper">
                    <form action="/business/{{ business.id }}/details/" class="edit-business workscout_form"
                          id="details-form" method="POST">
                        <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                        <p class="form-row form-row-wide">
                            <label for="bn_name">Business name <span class="required">*</span>
                                <i class="ln ln-icon-Library"></i><input class="input-text" id="bn_name" name="name"
                                                                         type="text" value="{{ business.name }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="bn_category">Business Category
                                <i class="ln ln-icon-Library"></i><input class="input-text" id="bn_category"
                                                                         name="category"
                                                                         type="text" value="{{ business.category }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p>
                            <label for="bn_logo_url">Logo URL
                                <i class="ln ln-icon-Globe"></i><input class="input-text" id="bn_logo_url"
                                                                       name="logo_url"
                                                                       type="url" value="{{ business.logo }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p>
                            <label for="bn_address">Address
                                <i class="ln ln-icon-Location-2"></i><input class="input-text" id="bn_address"
                                                                            name="address"
                                                                            type="text"
                                                                            value="{{ business.hqAddress }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p>
                            <label for="bn_city">City
                                <i class="ln ln-icon-Location-2"></i><input class="input-text" id="bn_city" name="city"
                                                                            type="text" value="{{ business.hqCity }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p>
                            <label for="bn_state">State
                                <i class="ln ln-icon-Location-2"></i><input class="input-text" id="bn_state"
                                                                            name="state"
                                                                            type="text" value="{{ business.hqState }}"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p>
                            <label for="bn_country">Country
                                <select id="bn_country" name="country">
                                    <option selected value="IN">India</option>
                                </select>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row">
                            <input class="button" name="submit" type="submit" value="Submit"/>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    ajaxSubmitForm('#details-form');
</script>
{% endblock %}