{% extends 'base.twig' %}

{% block header %}
{% include 'header-nav.twig' %}
{% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="single" id="titlebar">
    <div class="container">

        <div class="sixteen columns">
            <h1>Manage Test</h1>
            <nav id="breadcrumbs">
                <ul>
                    <!-- Breadcrumb NavXT 6.0.4 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a class="home"
                                                                                           href="/"
                                                                                           property="item"
                                                                                           title="Go to Crux."
                                                                                           typeof="WebPage"><span
                            property="name">Crux</span></a><meta content="1" property="position"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                            property="name">Manage Test</span><meta content="2" property="position"></span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container full-width">
    <article class="sixteen columns woocommerce-account post-2870 page type-page status-publish hentry" id="post-2870">

        <nav class="woocommerce-MyAccount-navigation">
            <ul>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                    <a href="/business/work/tests/{{ test.id }}">Details</a>
                </li>
                <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                    <a href="/business/work/tests/{{ test.id }}/questions">Questions</a>
                </li>
            </ul>
        </nav>

        <div class="woocommerce-MyAccount-content">
            <div id="job-manager-job-dashboard">
                <div class="details-headline">
                    <h2>{{ test.name }}</h2>
                </div>
                <div class="details-wrapper">
                        <div class="small-dialog-content woo-reg-box">
                            <form action="/business/{{ business.id }}/tests/{{ test.id }}" class="workscout_form" id="update-test-form"
                                  method="PATCH">
                                <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                                <p class="form-row form-row-wide">
                                    <label for="testname">Name <span class="required">*</span>
                                        <i class="ln ln-icon-File-HorizontalText"></i><input class="input-text"
                                                                                             id="testname"
                                                                                             name="name" type="text"
                                                                                             value="{{ test.name }}"/>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="startTime">Start Time<span class="required">*</span>
                                        <i class="ln ln-icon-Alarm"></i><input class="input-text" id="startTime"
                                                                               name="startTime" type="datetime-local"
                                                                               value="{{ test.startTime }}"/>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="endTime">End Time<span class="required">*</span>
                                        <i class="ln ln-icon-Alarm"></i><input class="input-text" id="endTime"
                                                                               name="endTime" type="datetime-local"
                                                                               value="{{ test.endTime }}"/>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="summary">Summary
                                        <i class="ln ln-icon-File-HorizontalText"></i><input class="input-text"
                                                                                             id="summary"
                                                                                             name="summary" type="text"
                                                                                             value="{{ test.summary }}"/>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="description">Description
                                        <textarea class="input-text" id="description" name="description">{{ test.description }}</textarea>
                                        <span class="form-error"></span>
                                    </label>
                                </p>
                                <p class="form-row">
                                    <input class="button" name="add" type="submit" value="Update"/>
                                </p>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    ajaxSubmitForm('#update-test-form', {
        success: function (data) {
            window.location.reload();
        }
    });
</script>
{% endblock %}