<header class="default sticky-header" id="main-header">
    {% block header %}
    <div class="container">
        <div class="sixteen columns">
            <!-- Logo -->
            <div id="logo">
                <a href="/" rel="home" title="Crux"><img alt="Crux"
                                                         src="https://workscout.wpengine.com/wp-content/uploads/2016/10/logo.svg"/></a>
            </div>
            <!-- Mobile Navigation -->
            <div class="mmenu-trigger">
                <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
            {% block nav %}
            <!-- Menu -->
            <nav class="menu" id="navigation">
                <ul class="menu" id="responsive">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2876"
                        id="menu-item-2876">
                        <a aria-current="page" href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-2875"
                                id="menu-item-2875"><a aria-current="page" href="index.html">Home #1</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2880"
                                id="menu-item-2880"><a href="home-5/index.html">Home #5</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5371"
                                id="menu-item-5371"><a href="home-resumes/index.html">Home #6 &#8211; Resumes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2859"
                        id="menu-item-2859"><a href="#">For Candidates</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2882"
                                id="menu-item-2882"><a href="browse-jobs/index.html">Browse Jobs</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8503"
                                id="menu-item-8503"><a href="browse-jobs-without-map/index.html">Browse Jobs No
                                Map</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2883"
                                id="menu-item-2883"><a href="browse-categories/index.html">Browse Categories</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2955"
                                id="menu-item-2955"><a href="companies/index.html">Browse Companies</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2884"
                                id="menu-item-2884"><a href="submit-resume/index.html">Submit Resume</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2885"
                                id="menu-item-2885"><a href="candidate-dashboard/index.html">Candidate Dashboard</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2886"
                                id="menu-item-2886"><a href="job-alerts/index.html">Job Alerts</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2891"
                                id="menu-item-2891"><a href="my-bookmarks/index.html">My Bookmarks</a></li>
                        </ul>
                    </li>
                    {% if 'business-owner' in roles or 'business-employee' in roles %}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2860"
                        id="menu-item-2860"><a href="#">For Employers</a>
                        <ul class="sub-menu">
                            {% if 'business-owner' in roles %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2889"
                                id="menu-item-2889"><a href="/business/admin/dashboard">Admin Dashboard</a></li>
                            {% endif %}
                            {% if 'business-employee' in roles %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2888"
                                id="menu-item-2888"><a href="/business/work/dashboard">Employee Dashboard</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2855"
                        id="menu-item-2855"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2856"
                                id="menu-item-2856"><a href="job/grader-operator/index.html">Job Page</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2857"
                                id="menu-item-2857"><a href="job/restaurant-team-member-crew/index.html">Job Page
                                Alternative</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2858"
                                id="menu-item-2858"><a href="resume/john-smith/index.html">Resume Page</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2881"
                                id="menu-item-2881"><a href="shortcodes/index.html">Shortcodes</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2893"
                                id="menu-item-2893"><a href="woo-job-packages/index.html">Pricing Tables</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2890"
                                id="menu-item-2890"><a href="blog/index.html">Blog</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2892"
                                id="menu-item-2892"><a href="contact/index.html">Contact</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="float-right">
                    {% if is_logged_in %}
                    <li><a href="/profile/"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="/auth/logout/"><i class="fa fa-power-off"></i> Log Out</a></li>
                    {% else %}
                    <li><a class="small-dialog popup-with-zoom-anim" href="#signup-dialog"><i
                            class="fa fa-user"></i> Sign Up</a></li>
                    <li><a class="small-dialog popup-with-zoom-anim" href="#login-dialog" id="login-link"><i
                            class="fa fa-lock"></i>
                        Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endblock %}
            <div class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-signup-popup"
                 id="signup-dialog">
                <div class="small-dialog-headline">
                    <h2>Sign Up</h2>
                </div>
                <div class="small-dialog-content woo-reg-box">
                    <form action="/auth/register" class="register workscout_form" method="POST">
                        <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                        <p class="form-row form-row-wide">
                            <label for="reg_email">Email address <span class="required">*</span>
                                <i class="ln ln-icon-Mail"></i><input class="input-text" id="reg_email" name="email"
                                                                      type="email" value=""/>
                                <span class="form-error"></span>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_username">Username <span class="required">*</span>
                                <i class="ln ln-icon-Face-Style4"></i><input class="input-text" id="reg_username"
                                                                             name="username" type="text" value=""/>
                                <span class="form-error"></span>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_firstName">First Name <span class="required">*</span>
                                <i class="ln ln-icon-Male"></i><input class="input-text" id="reg_firstName"
                                                                      name="firstName" type="text" value=""/>
                                <span class="form-error"></span>
                            </label>

                            <label for="reg_lastName">Last Name
                                <i class="ln ln-icon-Male"></i><input class="input-text" id="reg_lastName"
                                                                      name="lastName" type="text" value=""/>
                                <span class="form-error"></span>
                            </label>
                        </p>

                        <label for="reg_email">I&#039;m a..</label>
                        <select class="input chosen-select" name="gender">
                            <option selected value="Male">..a guy.</option>
                            <option value="Female">...a girl.</option>
                        </select>

                        <p class="form-row form-row-wide">
                            <label for="reg_password">Password <span class="required">*</span>
                                <i class="ln ln-icon-Lock-2"></i><input class="input-text" id="reg_password"
                                                                        name="password" type="password" value=""/>
                                <span class="form-error"></span>
                            </label>

                            <label for="reg_passwordConfirm">Confirm Password <span class="required">*</span>
                                <i class="ln ln-icon-Lock-2"></i><input class="input-text" id="reg_passwordConfirm"
                                                                        name="passwordConfirm" type="password"
                                                                        value=""/>
                            </label>
                        </p>

                        <label for="reg_email">I&#039;m looking..</label>
                        <select class="input chosen-select" name="role">
                            <option selected value="candidate">..for tests.</option>
                            <option value="employer">...to conduct tests.</option>
                        </select>

                        <p class="form-row form-row-wide" id="register-company" style="display: none">
                            <label for="reg_businessName">Company Name
                                <i class="ln ln-icon-Library"></i><input class="input-text" id="reg_businessName"
                                                                         name="businessName" type="text" value=""/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row">
                            <input class="button" name="register" type="submit" value="Register"/>
                        </p>
                    </form>

                </div>
            </div>
            <div class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-login-popup"
                 id="login-dialog">
                <div class="small-dialog-headline">
                    <h2>Login</h2>
                </div>
                <div class="small-dialog-content woo-reg-box">
                    <form action="/auth/login" class="login workscout_form" method="POST">
                        <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
                        <p class="form-row form-row-wide">
                            <label for="username">Username<span class="required">*</span>
                                <i class="ln ln-icon-Male"></i><input class="input-text" id="username"
                                                                      name="username" type="text" value=""/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="password">Password <span class="required">*</span>
                                <i class="ln ln-icon-Lock-2"></i><input class="input-text" id="password"
                                                                        name="password" type="password"/>
                                <span class="form-error"></span>
                            </label>
                        </p>
                        <p class="form-row">
                            <input class="button" name="login" type="submit" value="Login"/>
                            <label class="inline" for="rememberme">
                                <input id="rememberme" name="rememberme" type="checkbox" value="forever"/> Remember
                                me
                            </label>
                        </p>
                        {% if redirect_to %}<input name="redirectTo" type="hidden" value="{{ redirect_to }}"/>{% endif
                        %}
                        <p class="lost_password">
                            <a href="auth/password-reset/">Lost your password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</header>