{% extends 'base.twig' %}

{% block header %}
{% include 'header-nav.twig' %}
{% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="single" id="titlebar">
    <div class="container">

        <div class="eleven columns">
            <h1>{{ title }}</h1>
            <nav id="breadcrumbs">
                <ul>
                    <!-- Breadcrumb NavXT 6.0.4 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a class="home"
                                                                                           href="/"
                                                                                           property="item"
                                                                                           title="Go to Crux."
                                                                                           typeof="WebPage"><span
                            property="name">Crux</span></a><meta content="1" property="position"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
                            property="name">{{ title }}</span><meta content="2" property="position"></span></li>
                </ul>
            </nav>
        </div>

        <div class="five columns">
            <div class="job-manager-form wp-job-manager-bookmarks-form">
                <div><a class=" button dark" id="endTestBtn" href="/tests/{{ test.id }}/leaderboard">View Leaderboard</a></div>
            </div>
        </div>
    </div>
</div>

<div class="container full-width">
    <article class="sixteen columns page type-page">
        <ul class="tabs-nav">
            {% for question in questions %}
            <li><a href="#q{{ question.id }}" id="q{{ question.id }}-link">Question {{ loop.index }}</a></li>
            {% endfor %}
        </ul>
        <div class="tabs-container">
            {% for question in questions %}
            <div class="tab-content" id="q{{ question.id }}">
                    <div class="details-headline">
                    <h2 style="position: relative">
                        Q{{ loop.index }}. {{ question.title }}
                        <span class="list-right-end score"></span>
                    </h2>
                </div>
                <div class="details-wrapper">
                    <ul class="job_listings job-list full  new-layout hide-desc">
                        {% for option in question.options %}
                        <li>
                            <a class="left job_listing option-link pointer option" id="o-{{ option.id }}">
                                <div class="listing-logo">
                                </div>
                                <div class="listing-title">
                                    <h4>{{ option.statement }}
                                        {% if option.isCorrect %}
                                        <span class="job-type freelance pointer">
                                            Correct
                                        </span>
                                        {% else %}
                                        <span class="job-type temporary pointer">
                                            Incorrect
                                        </span>
                                        {% endif %}
                                    </h4>
                                    <ul class="listing-icons">
                                    </ul>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    var totalQuestions = {{ length(questions) }}
    var solvedQuestions = {};

    function updateQuestionUi(questionId, score) {
        $("#q" + questionId + "-link").addClass("answered");
        $('#o-' + solvedQuestions[questionId].join(', #o-')).addClass("answered");
        $("#q" + questionId + " .score").text("Score: " + score)
    }

    $(document).on('ready', function (e) {
        var serverSubmissions = {{ submissions }}
        serverSubmissions.forEach(function(obj) {
            var checkBoxes = $("#q" + obj.id).find("input[name=option]").map(function() {return $(this)}).get();
            var correctCheckBoxes = checkBoxes.filter(function(checkBox) { return obj.options.includes(parseInt(checkBox.attr("data-option"))) });
            correctCheckBoxes.forEach(function(elem) { elem.prop('checked', true); });
            solvedQuestions[obj.id] = obj.options;
            updateQuestionUi(obj.id, obj.score)
        })
    });
</script>
{% endblock %}